mat-toolbar.navBar {
    position: sticky;
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.navBar{
  background-color: rgba(0,0,0,0.9);
  color: gold;
}


.logo-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    scale: 3;
}

.navBarCss {
    height: 100px;
}

.icons-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 @media screen and (max-width: 353px){
    .mat-toolbar-row {
        flex-direction: column;
        height: 30vh;
        justify-content: center;
    }
} 
.storeName {
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
}
    
.title {
    font-size: 26px;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 20px;
        white-space: normal;
    }
}

.logOutAlert, .errorLogginOut{
    position: fixed;
    top: 100px;
    right: 0;
    padding: 5px;
    background-color: black;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    transition: 2s;
    min-width: 20%;
    height: 5%;
    z-index: 3;
  }

  @media screen and (max-width: 353px){
    .logOutAlert, .errorLogginOut{
        top: 30vh;
    }
  }