.navBarCss {
    height: 100px;
}

.icons-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.storeName {
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
}
    
.title {
    font-size: 26px;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 20px;
    }
}

.logOutAlert, .errorLogginOut{
    position: fixed;
    top: 100px;
    right: 0;
    padding: 5px;
    background-color: #3F51B5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    transition: 2s;
    min-width: 20%;
    height: 5%;
  }