<h1 class="tituloReserva">aqui hay un carrito</h1>
<app-products *ngfor="let product of products;let i=index" [product] = "product"  [index]=i ></app-products>

<h1>aqui va el precio acumulado</h1>
<button class="payButton" (click)="handlePayment()">pagar</button>


<!-- prueba respecto a conectarse con el back
 <h1 class="tituloReserva">Aquí hay un carrito</h1> -->

<!-- Mostrar los productos del carrito -->
<!-- <div *ngFor="let item of cartItems"> -->
  <!-- <app-products [product]="item.product"></app-products> -->
  <!-- Puedes agregar cualquier otra información relacionada con el producto, como la cantidad, el precio, etc. -->
<!-- </div> -->

<!-- <h1>Aquí va el precio acumulado</h1> -->
<!-- <button class="payButton" (click)="handlePayment()">Pagar</button>
 --> 
