<div class="adminContainer">
  <h2>Admin Panel - Products</h2>

  <div class="productList">
    <div class="productCard" *ngFor="let product of products; let i = index">
      <div class="productImage">
        <img [src]="images[i]" alt="Product Image">
      </div>
      <div class="productDetails">
        <h3>{{ product.name }}</h3>
        <p>Price: {{ product.price }}</p>
        <p>Stock: {{ product.quantity }}</p>
        <div class="editControls">
          <mat-form-field appearance="outline" class="inputField">
            <mat-label>Price</mat-label>
            <input matInput type="number" [(ngModel)]="product.product.price">
          </mat-form-field>
          <mat-form-field appearance="outline" class="inputField">
            <mat-label>Stock</mat-label>
            <input matInput type="number" [(ngModel)]="product.quantity">
          </mat-form-field>
          <mat-form-field appearance="outline" class="inputField">
            <mat-label>Stock Min</mat-label>
            <input matInput type="number" [(ngModel)]="product.stockMin">
          </mat-form-field>
          <mat-form-field appearance="outline" class="inputField">
            <mat-label>Stock Max</mat-label>
            <input matInput type="number" [(ngModel)]="product.stockMax">
          </mat-form-field>
        </div>
        <div class="buttons">
          <button mat-raised-button color="primary" (click)="saveChanges(product)">Save</button>
          <button mat-raised-button color="warn" (click)="deleteProduct(product)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add New Product
      </mat-panel-title>
      <mat-panel-description>
        Add a new product and their stats
      </mat-panel-description>
    </mat-expansion-panel-header>
   
    <div class="add-product">
      <h3>Add New Product</h3>
      <mat-form-field appearance="outline" class="inputField">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="newProduct.name">
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputField">
        <mat-label>Price</mat-label>
        <input matInput type="number" [(ngModel)]="newProduct.price">
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputField">
        <mat-label>Stock</mat-label>
        <input matInput type="number" [(ngModel)]="newProduct.stock">
      </mat-form-field>
      <div class="buttons">
        <button mat-raised-button color="primary" (click)="addProduct()">Add</button>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Edit admin profile
      </mat-panel-title>
      <mat-panel-description>
        {{ panelOpenState ? 'open' : 'closed' }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    
    <div class="registerContainer">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- <form (ngSubmit)="submitRegister()" class="registerForm" #loginForm="ngForm">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" id="usernameInput" name="username" [(ngModel)]="userData.username" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" id="emailInput" name="email" [(ngModel)]="userData.email" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Password" id="passwordInput" name="password" [(ngModel)]="userData.password" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Full Name</mat-label>
              <input matInput placeholder="Full Name" id="fullNameInput" name="fullName" [(ngModel)]="userData.fullName" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Phone</mat-label>
              <input matInput placeholder="Phone" id="phoneInput" name="phone" [(ngModel)]="userData.phone" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <input matInput placeholder="Address" id="addressInput" name="address" [(ngModel)]="userData.address" required>
            </mat-form-field>
            
            <div class="buttonContainer">
              <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid">Register</button>
            </div>
          </form> -->
        </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
