<mat-accordion>
  <!-- <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add New Product
      </mat-panel-title>
      <mat-panel-description>
        Add a new product and their stats
      </mat-panel-description>
    </mat-expansion-panel-header>
   
    <div class="add-product">
      <h3>Add New Product</h3>
      <mat-form-field appearance="outline" class="inputField">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="newProduct.name">
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputField">
        <mat-label>Price</mat-label>
        <input matInput type="number" [(ngModel)]="newProduct.price">
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputField">
        <mat-label>Stock</mat-label>
        <input matInput type="number" [(ngModel)]="newProduct.quantity">
      </mat-form-field>
      <div class="buttons">
        <button mat-raised-button color="primary" (click)="addProduct()">Add</button>
      </div>
    </div>
  </mat-expansion-panel> -->

  <mat-expansion-panel *ngIf="showAdminPage" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Edit admin profile
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    
    <div class="registerContainer">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Update Admin Profile</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form  class="updateProfileForm" #profileForm="ngForm">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" id="emailInput" name="email" [(ngModel)]="adminData.email" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <input matInput placeholder="Address" id="address" name="address" [(ngModel)]="adminData.address" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Phone</mat-label>
              <input matInput placeholder="Phone" id="phone" name="phone" [(ngModel)]="adminData.phone" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Password" id="passwordInput" name="password" [(ngModel)]="adminData.password" required>
            </mat-form-field>
            <div class="buttonContainer">
              <button (click)="submitUpdateProfile()" mat-raised-button color="primary" type="submit" [disabled]="!profileForm.form.valid">Update Profile</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<div class="adminContainer" *ngIf="showAdminPage" >
  <h2>Admin Panel - Products</h2>

  <div class="productList">
    <div class="productCard" *ngFor="let product of products; let i = index">
      <div class="productImage">
        <img [src]="images[i]" alt="Product Image">
      </div>
      <div class="productDetails">
        <h3><b>{{ product.product.productName }}</b></h3>
        <p>Price: {{ product.product.price }}</p>
        <p>Stock: {{ product.quantity }}</p>
        <div class="editControls">
          <mat-form-field appearance="outline" class="inputField">
            <mat-label>Price</mat-label>
            <input matInput type="number" min="0" [(ngModel)]="product.product.price">
          </mat-form-field>
          <mat-form-field appearance="outline" class="inputField">
            <mat-label>Stock</mat-label>
            <input matInput type="number" min="0" [(ngModel)]="product.quantity">
          </mat-form-field>
          <mat-form-field appearance="outline" class="inputField">
            <mat-label>Stock Min</mat-label>
            <input matInput type="number" min="0" [(ngModel)]="product.stockMin">
          </mat-form-field>
          <mat-form-field appearance="outline" class="inputField">
            <mat-label>Stock Max</mat-label>
            <input matInput type="number" min="0" [(ngModel)]="product.stockMax">
          </mat-form-field>
        </div>
        <div class="buttons">
          <button mat-raised-button color="primary" (click)="saveChanges(product)">Save</button>
          <button mat-raised-button color="warn" (click)="deleteProduct(product)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>



  <div class="errorContainer" *ngIf="showErrorPage">
  <h1>Error, pagina no encontrada :c</h1>
</div> 

