<div class="productContainer">
    <div class="imageContainer">
        <img src="#" alt="Imagen del Producto">
    </div>
    <div class="productInfo">
        <div>
            <h1>Nombre del producto</h1>
        </div>
        <div class="prices">
            <h2>Unit. Price: </h2>
            <h2>Total Price: </h2>
        </div>
    </div>
    <div class="order">
        <button  class="decrease"  > - </button>
        <input type="text">
        <button  class="increase"> + </button>
    </div>

    <div class="delete">
        <button >Eliminar</button>
    </div>
</div>
