
<div class="Home-main-container">
    

    <div class="Home-product-card" *ngFor="let product of data">
        <figure class="Home-card-image">
            <img src="{{product.image}}" alt="Imagen de pablo">
    
        </figure>
    
        <div class='Home-card-info'  >
            <h2 class="Home-card-title"> {{product.name}} </h2>

            <p class='Home-card-description'> <b>Description: </b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis esse non ut voluptatibus cumque suscipit explicabo eligendi. Error aliquid rem laborum numquam maxime commodi aspernatur tenetur quasi. Vitae, recusandae neque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nam laboriosam provident et aliquid architecto voluptatum cumque deleniti maxime animi! Rem dignissimos vitae unde accusantium accusamus. Earum rem ab accusamus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente expedita, officia placeat dolorum suscipit nulla, possimus quia vitae nihil laboriosam dignissimos provident! Assumenda blanditiis temporibus eos modi consequuntur facere obcaecati? </p>
            <p class='Home-card-price'> <b>Price: </b>{{product.id}}</p>

            <button class='Home-card-button' (click)="viewProductPage(product.id)">Show more information</button>
        </div>
    
    </div>

</div>

