


<div class="Home-main-container">

    <div class="Home-product-card">
        <figure class="Home-card-image">
            <img src="{{imageProduct}}" alt="Imagen de pablo">

        </figure>
        <div class='Home-card-info'>

            <h2 class="Home-card-title">{{nameProduct}}</h2>
            <p class='Home-card-description'>{{descriptionProduct}}</p>
            <p class='Home-card-price'> {{priceProduct}} </p>
            <button class='Home-card-button' >Show more information</button>
        </div>

    </div>
</div>

