.Home-product-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding: 1%;
    margin-bottom: 10px;
  }
  
  .Home-product-card:hover {
    background-color: #1a1a1a;
    color: white;
  }
  
  .Home-card-button {
    cursor: pointer;
  }
  