<div class="Home-main-container">

    <div class="Home-product-card" *ngFor="let product of data">
        <figure class="Home-card-image">
            <img src="{{product.productImages[0].imageURL}}" alt="Imagen de pablo"(click)="viewProductPage(product.productID)" >

        </figure>

        <div class='Home-card-info'  >
            <h2 class="Home-card-title"> {{product.productName}} </h2>

            <!-- <p class='Home-card-description'> <b>Description: </b> {{product.description}} </p> -->
            <h3 class='Home-card-price'> <b>Price: </b>{{product.price | currency}}</h3>

            <button class='Home-card-button' mat-raised-button  (click)="viewProductPage(product.productID)">Más información</button>
        </div>

    </div>

</div>
