<div class="loginContainer">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #loginForm="ngForm">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" id="usernameInput" name="username" [(ngModel)]="userData.username" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" id="passwordInput" name="password" [(ngModel)]="userData.password" required>
          </mat-form-field>
          <div class="buttonContainer">
            <button mat-raised-button color="primary" (click)="submitLogin()" type="submit" [disabled]="!loginForm.form.valid">Login</button>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <div class="registerLink">
          Don't have an account? <a href="/register">Register</a>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="statusAlert1">
    <p>Ya estas en una sesión...</p>
  </div>
  <div class="statusAlert2">
    <p>No estas en una sesión...</p>
  </div>
  <div class="nullAlert">
    <p>Usuario no registrado.</p>
  </div>
  <div class="incorrectPasswordAlert">
    <p>Contraseña incorrecta.</p>
  </div>
  