.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  mat-card {
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .registerLink {
    text-align: center;
    margin-top: 10px;
  }
  

.statusAlert1, .incorrectPasswordAlert, .statusAlert2, .nullAlert{
  position: fixed;
    top: 100px;
    right: 0;
    padding: 5px;
    background-color: black;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    transition: 2s;
    min-width: 20%;
    height: 5%;
    z-index: 3;
}

@media screen and (max-width: 353px){
  .statusAlert1, .incorrectPasswordAlert, .statusAlert2, .nullAlert{
      top: 30vh;
  }
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: black;
  --mdc-protected-button-label-text-color: gold;
}

