<div class="footer-content">
    <div class="text-container">
        <h3 class="footer-text">© 2023 TIMELESS CLASSICS. <br> Todos los derechos reservados.<br><br></h3>
        <h3 class="footer-text">Segundo Coding BootCamp sobre FullStack 2023<br><br></h3>
        <p class="footer-text">Juan Alejandro Parra | Santiago Mejía Orejuela | Jerónimo Riveros</p>
        <p class="footer-text">Arnovi Antonio Jimenez Velasquez | Jorge Luis López Grajales | Juan Pablo Sánchez Zapata</p>
        <p class="footer-text">Javier Enrique | Mateo Giraldo Arboleda | Andrés Palacio Sánchez</p>
        <p class="footer-text">Daniel Eduardo Atehortua Pamplona | Jhans Brandon Velez Cortes | Diego Fernando Santana</p>
        <p class="footer-text">ing. Cristian Vargas Vermudes</p>
    </div>
</div>