<div class="footer-content">
    <div class="text-container">
        <h3 class="footer-text">© 2023 TIMELESS CLASSICS. <br> Todos los derechos reservados.<br><br></h3>
        <h3 class="footer-text">Segundo Coding BootCamp sobre FullStack 2023<br><br></h3>
        <p class="footer-text">Juan Alejandro Parra | Sebastian Ramírez | jerónimo Riveros</p>
        <p class="footer-text">Arnovi Antonio Giménez | Jorge Luisa López | Juan Pablo Sánchez</p>
        <p class="footer-text">Javier Enrique | Santiago Mejía | Andrés palacio</p>
        <p class="footer-text">Daniel Eduardo | Jhans Brandon Velez</p>
    </div>
</div>