<mat-toolbar color="primary" class="footer">
    <div class="footer-content">
        <span class="footer-text">© 2023 Mi Empresa. Todos los derechos reservados.</span>
        <button mat-icon-button aria-label="Facebook" class="footer-icon-button">
            <mat-icon>facebook</mat-icon>
        </button>
        <button mat-icon-button aria-label="Twitter" class="footer-icon-button">
            <mat-icon>twitter</mat-icon>
        </button>
        <button mat-icon-button aria-label="Instagram" class="footer-icon-button">
            <mat-icon>instagram</mat-icon>
        </button>
    </div>
</mat-toolbar>