<!--se supone que esta más o menos seria la plantilla predeterminada del producto que apareceria en el carrito-->
<div class="data"><h2>{{image}}</h2>
    <p class="name">{{name}}</p>
    <p class="description">{{description}}</p>
    <p class="price">{{price}}</p>
</div>
<!--Esta seccion representa los botones para cambiar la cantidad ingresada-->
<div class="order">
    <button *ngIf="minAmountHandler()"class="decrease" (click)="decreaseClickHandler()" >-</button>
    <input type="text"  [(ngModel)]="order"> 
    <button *ngIf= "comparationMaxAmount()"class="increase" (click)="increaseClickHandler()" >+</button>
</div>
